[Unit]
Description = EaglePanel Email Policy Control Daemon

[Service]
Type=forking
ExecStart = /usr/local/EagleEP/postfixSenderPolicy/policyCTRL.py start
ExecStop = /usr/local/EagleEP/postfixSenderPolicy/policyCTRL.py stop
Restart = /usr/local/EagleEP/postfixSenderPolicy/policyCTRL.py restart
Restart=on-abnormal

[Install]
WantedBy=default.target
